body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.principal {
  display: flex;
  justify-content: center;
  margin: 50px;
  height: 100%;
}

.jogo {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 900px;
}

.linha1 {
  display: flex;
  height: 100%;
  flex:1;
}

.linha2 {
  display: flex;
  height: 100%;
  flex:1;
}

.linha3 {
  display: flex;
  height: 100%;
  flex:1;
}

.linha4 {
  display: flex;
  height: 100%;
  flex:1;
}

.casa {
  display: flex;
  border: 5px solid rgb(62, 2, 77);
  border-radius: 15px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex:1;
  background-image: url("src/img/cartaBg.png");
  background-position-x: center;
  background-size: cover;
}

img {
  visibility: hidden;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

